<a href="https://colab.research.google.com/github/z-guard/analysis/blob/main/notebooks/all_town_detail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 町の詳細情報
- input:
    - population_master.csv
        - 町丁ごとの位置
    - nursery_score.csv
        - 保育園
        - 児童館
    - public_school_score.csv
        - 幼稚園
        - 小学校
        - 中学校
    - library_score.csv
        - 図書館
    - convenience_score.csv
        - コンビニ
        - スーパー
        - 最寄り駅
    - park_score.csv
        - 公園
    - sports_score.csv
        - 運動場
        - 体育館
        - プール
    - medical_score.csv
        - 病院
        - 小児科
        - 薬局
    - crime_score.csv
        - 犯罪件数
    - population_core.csv
        - ○○割合スコア
    - place_photo_all.csv
        - 町写真
- output:
    - all_town_detail.csv
        - 町丁ごとの詳細データ

In [1]:
!pip install -q japanize-matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
DIR_NAME = '/content/drive/MyDrive/z-gard/data'

In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [5]:
output_file = 'all_town_detail.csv'

### 人口マスタ

In [6]:
df_population = pd.read_csv(os.path.join(DIR_NAME, 'population_master.csv'))[
    ['town_id', '市区町村名', '町丁目']
].set_index('town_id')
print(df_population.shape)
df_population.head()

(3145, 2)

        市区町村名     町丁目
town_id
101003   千代田区  丸の内１丁目
101004   千代田区  丸の内２丁目
101005   千代田区  丸の内３丁目
101007   千代田区  大手町１丁目
101008   千代田区  大手町２丁目

### 保育園・児童館

In [7]:
df_nursery = pd.read_csv(os.path.join(DIR_NAME, 'nursery_score.csv'))[[
    'town_id', '保育園(最近傍距離)', '保育園(数)', '児童館(最近傍距離)', '児童館(数)'
]].set_index('town_id')
print(df_nursery.shape)
df_nursery.head()

(3145, 4)

         保育園(最近傍距離)  保育園(数)  児童館(最近傍距離)  児童館(数)
town_id
101003        0.771     0.0       1.251     0.0
101004        0.867     0.0       1.630     0.0
101005        0.660     0.0       1.610     0.0
101007        0.361     1.0       1.391     0.0
101008        0.312     1.0       1.014     0.0

### 小学校・中学校・幼稚園

In [8]:
df_school = pd.read_csv(os.path.join(DIR_NAME, 'public_school_score.csv'))[[
    'town_id', '小学校(最近傍距離)', '中学校(最近傍距離)', '幼稚園(最近傍距離)', '学習塾(数)'
]].set_index('town_id')
print(df_school.shape)
df_school.head()

(3145, 4)

         小学校(最近傍距離)  中学校(最近傍距離)  幼稚園(最近傍距離)  学習塾(数)
town_id
101003        0.354       1.690       0.312      10
101004        0.567       1.628       0.550       8
101005        0.551       1.288       0.551       9
101007        0.594       0.935       0.594       5
101008        0.296       1.342       0.293       6

### 図書館・書店

In [9]:
df_library = pd.read_csv(os.path.join(DIR_NAME, 'library_score.csv'))[[
    'town_id', '図書館(最近傍距離)', '書店(最近傍距離)',
]].set_index('town_id')
print(df_library.shape)
df_library.head(5)

(3145, 2)

         図書館(最近傍距離)  書店(最近傍距離)
town_id
101003        1.290      0.102
101004        1.208      0.278
101005        0.981      0.238
101007        0.708      0.182
101008        0.785      0.379

### コンビニ・スーパー・最寄り駅

In [10]:
df_convenience = pd.read_csv(os.path.join(DIR_NAME, 'convenience_score.csv'))[[
    'town_id', 'コンビニ(数)', 'スーパー(数)', '商店街(数)', '銭湯(数)', 'カラオケ(数)',
       'ネットカフェ(数)', 'クリーニング(数)', '本DVD(数)', 
       'カフェ(数)', 'カフェ(チェーン店)(数)', 'ファストフード(数)', 'レストラン(数)',
       'レストラン(チェーン店)(数)', '飲み屋(数)', '最寄駅(距離)'
]].set_index('town_id')
eat_drink_col = ['カフェ(数)', 'カフェ(チェーン店)(数)', 'ファストフード(数)', 'レストラン(数)', 'レストラン(チェーン店)(数)', '飲み屋(数)']
df_convenience['飲食店(数)'] = df_convenience[eat_drink_col].sum(axis=1)
df_convenience = df_convenience.drop(columns=eat_drink_col)
print(df_convenience.shape)
df_convenience.head()

(3145, 10)

,コンビニ(数),スーパー(数),商店街(数),銭湯(数),カラオケ(数),ネットカフェ(数),クリーニング(数),本DVD(数),最寄駅(距離),飲食店(数)
town_id,,,,,,,,,,
101003,72,3,0,0,2,0,0,3,0.037,66
101004,54,1,0,0,0,0,0,3,0.359,77
101005,46,1,0,1,2,0,0,2,0.219,84
101007,37,1,0,1,0,0,1,3,0.308,65
101008,45,3,0,0,0,0,2,3,0.447,58

### 公園

In [11]:
df_park = pd.read_csv(os.path.join(DIR_NAME, 'park_score.csv'))[[
    'town_id', '公園(平均距離)', '公園(数)'
]].set_index('town_id')
print(df_park.shape)
df_park.head()

(3145, 2)

         公園(平均距離)  公園(数)
town_id
101003      0.718      1
101004      0.911      0
101005      0.908      0
101007      0.710      1
101008      0.593      1

### 各種教室

In [12]:
df_lesson_score = pd.read_csv(os.path.join(DIR_NAME, 'lesson_score.csv')).set_index('town_id')
print(df_lesson_score.shape)
df_lesson_score.head()

(3145, 4)

         音楽教室(数)  英語教室(数)  プログラミング(数)  囲碁将棋(数)
town_id
101003         0        0           0        0
101004         0        0           0        0
101005         0        0           0        0
101007         0        2           0        0
101008         0        2           0        0

### 運動場・体育館・プール

In [13]:
df_sports = pd.read_csv(os.path.join(DIR_NAME, 'sports_score.csv'))[[
    'town_id', '運動場他(最近傍距離)', '体育館(最近傍距離)', 'プール(最近傍距離)', 'フィットネス(数)', 'テニス教室(数)', 'ゴルフ練習場(数)'
]].set_index('town_id')
print(df_sports.shape)
df_sports.head()

(3145, 6)

         運動場他(最近傍距離)  体育館(最近傍距離)  プール(最近傍距離)  フィットネス(数)  テニス教室(数)  ゴルフ練習場(数)
town_id
101003         1.734       0.846       0.846          3         0          1
101004         2.113       1.079       1.079          3         0          1
101005         2.291       1.405       1.405          5         0          2
101007         1.827       0.341       0.341          5         0          2
101008         1.478       0.323       0.323          3         0          1

### 病院・小児科・薬局

In [14]:
df_medical = pd.read_csv(os.path.join(DIR_NAME, 'medical_score.csv'))[[
    'town_id', '病院(平均距離)', '病院(数)', '小児科(平均距離)', '小児科(数)', '薬局(平均距離)', '薬局(数)'
]].set_index('town_id')
print(df_medical.shape)
df_medical.head()

(3145, 6)

         病院(平均距離)  病院(数)  小児科(平均距離)  小児科(数)  薬局(平均距離)  薬局(数)
town_id
101003      0.273    8.0      0.248     4.0     0.189   13.0
101004      0.471    2.0      0.422     2.0     0.332    3.0
101005      0.255   11.0      0.316     3.0     0.196   12.0
101007      0.152    8.0      0.399     2.0     0.098   13.0
101008      0.239   12.0      0.414     3.0     0.161   17.0

### 犯罪件数

In [15]:
df_security = pd.read_csv(os.path.join(DIR_NAME, 'security_score.csv'))
df_security['犯罪(数)'] = df_security['凶悪犯計'] + df_security['粗暴犯計'] + df_security['侵入窃盗計'] + df_security['非侵入窃盗計'] + df_security['その他計']
df_security['警察署・交番(数)'] = df_security['警察署(数)'] + df_security['交番(数)']
df_security['交通事故(数)'] = df_security['負傷事故(数)'] + df_security['死亡事故(数)']
df_security = df_security[['town_id', '犯罪(数)', '警察署・交番(数)', '交通事故(数)', '総合危険度ランク']].set_index('town_id')
print(df_security.shape)
df_security.head()

(3145, 4)

         犯罪(数)  警察署・交番(数)  交通事故(数)  総合危険度ランク
town_id
101003   242.0          4       36         1
101004    40.0          6       26         1
101005   141.0          6       49         1
101007    36.0          1       53         1
101008    24.0          0       55         1

### 近隣の町

In [16]:
df_geo_master = pd.read_csv(os.path.join(DIR_NAME, 'geocoding.csv'))[['town_id', 'neighbor_town']].set_index('town_id')
print(df_geo_master.shape)
df_geo_master.head()

(3145, 1)

                                             neighbor_town
town_id
101003   ['102090', '101004', '102002', '101008', '1020...
101004   ['101005', '101003', '101040', '102002', '1010...
101005   ['101004', '101014', '101013', '102008', '1020...
101007   ['101095', '101086', '101008', '101087', '1010...
101008   ['102048', '102047', '102049', '102046', '1010...

### 町写真

In [17]:
df_place_photo = pd.read_csv(os.path.join(DIR_NAME, 'place_photo_all.csv')).rename(columns={
    'no': '地域ID', 'width': 'photo_width'
}).dropna(subset=['photo_reference'])[['地域ID', 'photo_width', 'photo_reference']].rename(columns={'地域ID':'town_id'}).set_index('town_id')
df_place_photo['photo_width'] = df_place_photo['photo_width'].astype(int)
print(df_place_photo.shape)
df_place_photo.head()

(3087, 2)

         photo_width                                    photo_reference
town_id
101003          5184  AcYSjRgYnEcFz-b85pT5mCBWHGmFPbxoEQJFsyJtYwvOTQ...
101004          5333  AcYSjRgdmiI4JCe0VreKniz4EE58uLjCVBiVhWCxmRY3DI...
101005          2268  AcYSjRiLx33aKxB8F3_NTqpImlbrNicnXWobQgqjt1Vd8O...
101007           664  AcYSjRiPDsSddQWQzGv5z9gQxNBCyHNYp_sqtKxeKwSTb8...
101008          1836  AcYSjRiUOku7EXEuStodTjEO9ce8HkIH4WxDD_j_c6qnm2...

### 全て結合

In [18]:
df_all_town_detail = pd.concat([
    df_population,
    df_nursery,
    df_school,
    df_library,
    df_convenience,
    df_park,
    df_lesson_score,
    df_sports,
    df_medical,
    df_security,
    df_geo_master,
    df_place_photo,
], axis=1)
print(df_all_town_detail.shape)

(3145, 47)

In [19]:
count_cols = [col for col in df_all_town_detail.columns if col.endswith('(数)')]
for col in count_cols:
    if col != '犯罪(数)':
        df_all_town_detail[col] = df_all_town_detail[col].fillna(0).astype(int)

### 距離を徒歩(分)に変換
- 1分＝80m

In [20]:
dist_cols = [col for col in df_all_town_detail.columns if col.endswith('距離)')]
for col in dist_cols:
    df_all_town_detail[col] = (df_all_town_detail[col] * 1000 / 80 + 0.5).round()

In [21]:
df_all_town_detail[1000:1005]

,市区町村名,町丁目,保育園(最近傍距離),保育園(数),児童館(最近傍距離),児童館(数),小学校(最近傍距離),中学校(最近傍距離),幼稚園(最近傍距離),学習塾(数),図書館(最近傍距離),書店(最近傍距離),コンビニ(数),スーパー(数),商店街(数),銭湯(数),カラオケ(数),ネットカフェ(数),クリーニング(数),本DVD(数),最寄駅(距離),飲食店(数),公園(平均距離),公園(数),音楽教室(数),英語教室(数),プログラミング(数),囲碁将棋(数),運動場他(最近傍距離),体育館(最近傍距離),プール(最近傍距離),フィットネス(数),テニス教室(数),ゴルフ練習場(数),病院(平均距離),病院(数),小児科(平均距離),小児科(数),薬局(平均距離),薬局(数),犯罪(数),警察署・交番(数),交通事故(数),総合危険度ランク,neighbor_town,photo_width,photo_reference
town_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
109098,品川区,小山７丁目,2.0,3,10.0,0,8.0,6.0,5.0,15,7.0,8.0,4,3,1,1,0,0,0,0,4.0,34,7.0,2,0,0,0,0,29.0,12.0,15.0,1,0,0,5.0,5,7.0,1,4.0,11,NaN,2,28,2,"['109106', '110071', '109097', '109117', '1100...",1200.0,AcYSjRiTWz13TucJbh3my21b7k5o_VDWYmXCpAzobgYeMz...
109100,品川区,荏原１丁目,4.0,5,4.0,3,5.0,2.0,5.0,16,5.0,4.0,8,2,0,1,0,0,5,3,6.0,12,2.0,13,1,0,0,0,22.0,15.0,8.0,1,0,0,6.0,4,7.0,1,4.0,7,14.0,0,72,3,"['109046', '109101', '109109', '109092', '1090...",7360.0,AcYSjRjDnuX7I8mgr-fRfW-t2wNive-f5c5v25JyIJBBno...
109101,品川区,荏原２丁目,3.0,7,5.0,2,6.0,3.0,6.0,18,9.0,3.0,9,5,0,0,1,0,3,2,6.0,28,3.0,13,0,1,1,0,23.0,14.0,9.0,2,0,0,4.0,8,4.0,3,3.0,16,6.0,1,64,3,"['109109', '109102', '109100', '109093', '1091...",2560.0,AcYSjRgr-V4_vGQEzKrRZ1ubG7trQf89mpQhMICFrq-LXo...
109102,品川区,荏原３丁目,2.0,11,5.0,1,6.0,7.0,5.0,13,9.0,1.0,14,5,1,0,2,1,5,4,5.0,76,3.0,13,0,1,3,0,25.0,10.0,12.0,3,0,0,3.0,18,4.0,6,1.0,26,32.0,2,55,3,"['109103', '109094', '109101', '109093', '1090...",4898.0,AcYSjRil-_j5BLV9F3MM0Ry6DsxTDm-EllN4M-YVLoU6g4...
109103,品川区,荏原４丁目,2.0,9,5.0,1,5.0,9.0,2.0,18,7.0,4.0,10,3,1,0,2,1,4,3,8.0,34,3.0,13,0,1,0,0,26.0,11.0,12.0,4,0,0,3.0,10,4.0,4,2.0,16,16.0,2,61,2,"['109102', '109126', '109104', '109110', '1091...",4000.0,AcYSjRjw6Cus4XYLAel3IQScrvva1Fzg7NRO9gjfayPVQF...

### 出力

In [22]:
df_all_town_detail.to_csv(os.path.join(DIR_NAME, output_file), index=True, encoding='utf-8-sig')